body{
  background-color: black;
  text-align: center;
}
h1{
  font-family: 'Monda', sans-serif;
  font-size: 50px;
  font-weight: normal;
  color:white;
}
p{
  font-family: 'Monda', 'sans-serif';
  font-size: 16px;
}
a{
  color:aquamarine;
}
h2{
  font-family: 'Monda' , sans-serif;
  color:white;
  font-weight: 300;
  font-size: 42px;
}
#phone{
  margin:20px;
}
